.logo{
    width: 93px;
    height: 79px;
}
.bg_img{
    background-image: url("./assests/BackGround\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    color: white;
    /* text-decoration: none; */
    list-style: none;
    font-size: 25px;
}
.navbar-toggler-icon{
    color: white;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}