.logo{
    width: 93px;
    height: 79px;
}
.bg_img{
    background-image: url("./assests/BackGround\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    color: white;    
    list-style: none;
    font-size: 25px;
}
/* .navbar-toggler-icon{
    color: white;
} */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.title_Group1{
    font-size: 80px;
    font-family: 'Archivo', sans-serif;
    color: white;
}
.bodytext_Group1{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}
.button_group1{
    width: 323px;
    height: 66px;
    background-color: #f54b3b;
    outline: none;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 992px){
    .button_group1{
        width: 223px;
        height: 56px;
    }
    .title_Group1{
        font-size: 60px;
    }
    .bodytext_Group1{
        font-size: 26px;
    }
}
@media screen and (max-width: 576px){
   
    .title_Group1{
        font-size: 40px;
    }
    .bodytext_Group1{
        font-size: 26px;
        text-align: justify;

    }
}